<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    
    <mat-card  fxFlex="30%" class="swcard">
      <a href="/list/people">
        <img mat-card-image src="../../assets/images/characters.jpg" alt="People">
    <mat-card-content><h2>Characters</h2></mat-card-content></a>
    </mat-card>
    <mat-card fxFlex="30%" class="swcard">
      <a href="/list/films">
            <img mat-card-image src="../../assets/images/films.jpg" alt="Films">
            <mat-card-content><h2>Films</h2></mat-card-content></a>
    </mat-card>
    <mat-card fxFlex="30%" class="swcard">
      <a href="/list/species">
            <img mat-card-image src="../../assets/images/species.jpg" alt="Species">
            <mat-card-content><h2>Species</h2></mat-card-content></a>
    </mat-card>
  </div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    <mat-card fxFlex="30%" class="swcard">
      <a href="/list/starships">
            <img mat-card-image src="../../assets/images/starships.jpg" alt="Starships">
        <mat-card-content><h2>Starships</h2></mat-card-content></a>
    </mat-card>
    <mat-card fxFlex="30%" class="swcard">
      <a href="/list/vehicles">
            <img mat-card-image src="../../assets/images/vehicles.jpg" alt="Vehicles">
        <mat-card-content><h2>Vehicles</h2></mat-card-content></a>
    </mat-card>
    <mat-card fxFlex="30%" class="swcard">
      <a href="/list/planets">
    <img mat-card-image src="../../assets/images/planets.jpg" alt="Planets">
        <mat-card-content><h2>Planets</h2></mat-card-content></a>
    </mat-card>
</div>