
<div class="imgarea">
    <img src ="{{imgUrl}}" class="coverImg">
  </div>
  <div *ngIf="!species"
  style="display: flex; justify-content: center; align-items: center">
 <mat-progress-spinner 
   color="accent"
   mode="indeterminate">
 </mat-progress-spinner>
</div>
  <div class="titlearea" *ngIf = "species">
  <h2>{{ species.name }}</h2>
  <div *ngIf="species">
    <app-share category="species" [text]="species.name" [itemID]="item"></app-share>
  </div>
  </div>
  
  <div  *ngIf = "species">
  <table>
  <tbody>
      <tr><td>Classification</td><td>{{ species.classification | titlecase }}</td></tr>
      <tr><td>Designation</td><td>{{ species.designation | titlecase }}</td></tr>
      <tr><td>Homeworld</td><td *ngIf="species.s_homeworld">{{ species.s_homeworld.name }}</td></tr>
      <tr><td>Average Height</td><td>{{ species.average_height }}</td></tr>
      <tr><td>Average Lifespan</td><td>{{ species.average_lifespan }}</td></tr>
      <tr><td>Skin Colors</td><td>{{ species.skin_colors }}</td></tr>
      <tr><td>Hair Colors</td><td>{{ species.hair_colors }}</td></tr>
      <tr><td>Eye Colors</td><td>{{ species.eye_colors }}</td></tr>
      <tr><td>Individuals</td><td><div *ngFor="let v of species.s_people; let isLast=last">{{ v.name }}{{isLast ? '' : ', '}}</div></td></tr>
      <tr><td>Films</td><td><div *ngFor="let f of orderFilms('episode_id'); let isLast=last">{{ f.title }}{{isLast ? '' : ', '}}</div></td></tr>
  </tbody>
  </table>
  </div>

  <div>
        <div class="titlearea">
          <h4>My Notes</h4>
        </div>
        <app-notes category="species" [itemID]="item"></app-notes>
  </div>
