
<div class="imgarea">
    <img src ="{{imgUrl}}" class="coverImg">
  </div>
  <div class="titlearea" *ngIf = "planet">
  <h2>{{ planet.name }}</h2>
  </div>
  
  <div  *ngIf = "planet">
  <table>
  <tbody>
      <tr><td>Diameter</td><td>{{ planet.diameter }}</td></tr>
      <tr><td>Rotation Period</td><td>{{ planet.rotation_period }}</td></tr>
      <tr><td>Orbital Period</td><td>{{ planet.orbital_period }}</td></tr>
      <tr><td>Gravity</td><td>{{ planet.gravity }}</td></tr>
      <tr><td>Population</td><td>{{ planet.population }}</td></tr>
      <tr><td>Climate</td><td>{{ planet.climate }}</td></tr>
      <tr><td>Terrain</td><td>{{ planet.terrain }}</td></tr>
      <tr><td>Surface Water</td><td>{{ planet.surface_water }}</td></tr>
      <tr><td>Residents</td><td><div *ngFor="let v of planet.p_residents; let isLast=last">{{ v.name }}{{isLast ? '' : ', '}}</div></td></tr>
      <tr><td>Films</td><td><div *ngFor="let f of orderFilms('episode_id'); let isLast=last">{{ f.title }}{{isLast ? '' : ', '}}</div></td></tr>
  </tbody>
  </table>
  </div>
